{% load static %}
<!-- S: searchbar -->
<div class="searchBar">
    <div class="selectType">
        <h3>찾으시는 요양시설을 선택해 주세요.</h3>
        <ul>
            <li><a href="#">요양병원</a></li>
            <li><a href="#">요양원</a></li>
            <li><a href="#">주야간보호</a></li>
            <li><a href="#">방문시설</a></li>
        </ul>
    </div>
    <div class="filter">
        <h3>등급 등 원하는 조건이 있나요?</h3>
        <p class="btnarea">
            <button class="filterbtn"><img src="{% static 'icons/png/002-filter.png' %}" alt="조건 필터"></button>
            <span>버튼을 눌러주세요!</span>
        </p>
    </div>
    <div class="area">
        <h3>원하시는 지역을 선택해주세요.</h3>
        
    </div>
</div>
<!-- E: searchbar -->